venv/
.vscode/
*.jpg
config.txt
rootkey.csv
*.mkv
*.mp4
*.pdf
__pycache__/aws_s3_upload.cpython-38.pyc
__pycache__/progress.cpython-38.pyc
ec2/
uploads/
credentials.json
__pycache__
files.db
*.session
service.json

.dockerignore
aws_s3_upload.py
bot2.session
